.env
/mediawiki/extensions/*
!/mediawiki/extensions/MobileFrontend
/mediawiki/images/*
!/mediawiki/images/static
/mediawiki/skins/*
/mediawiki/skins/Vector/*
!/mediawiki/skins/Vector/add
!/mediawiki/skins/Vector/screen.less
!/mediawiki/skins/Vector
/mediawiki/.restored
/mediawiki/.initialized
