.env
/mediawiki/extensions
/mediawiki/images/*
!/mediawiki/images/static
/mediawiki/skins/README
/mediawiki/skins/MonoBook
/mediawiki/skins/Timeless
/mediawiki/skins/Vector/*
!/mediawiki/skins/Vector/add
!/mediawiki/skins/Vector/screen.less
!/mediawiki/skins/Vector
/mediawiki/.restored
/mediawiki/.initialized
